DATABASE_URL="postgresql://postgres:[TU-PASSWORD]@db.[TU-PROJECT-ID].supabase.co:5432/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:[TU-PASSWORD]@db.[TU-PROJECT-ID].supabase.co:5432/postgres"
NEXTAUTH_SECRET="generar-con-openssl-rand-base64-32"
NEXTAUTH_URL="https://invitaciones-digitales-eight.vercel.app"
MP_ACCESS_TOKEN="tu-mercadopago-access-token"
NEXT_PUBLIC_URL="https://invitaciones-digitales-eight.vercel.app"
ADMIN_EMAIL="admin@tudominio.com"
ADMIN_PASSWORD="tu-password-seguro"
